.search-result {
  display: grid;
  box-shadow: 1px 1px 2px $orange-shadow;
  border-radius: 10px;
  padding: 20px 15px;

  &:hover {
    box-shadow: 4px 4px 20px $orange-shadow;
  }

  .result-highlight {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "result-image result-text learn-more-button";
    align-items: center;
    column-gap: 20px;

    .result-image {
      grid-area: result-image;

      img {
        width: 70px;
        height: auto;
      }
    }

    .result-text {
      grid-area: result-text;

      h4 {
        margin-bottom: 10px;
      }
    }

    .learn-more-button {
      grid-area: learn-more-button;

      button {
        background-color: $cream;
        border: 0;
        cursor: pointer;
        transition: transform 0.5s ease-out;
      }

      .button-transform {
        transform: rotate(180deg);
      }

      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .result-detailed {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: "resources learning-attributes contact";
    margin: 30px 0 0 90px;
    justify-content: space-between;

    ul {
      list-style-type: none;

      li {
        transition: color 0.3s;
        font-size: 90%;

        &:hover {
          color: $orange;
        }

        a {
          color: $navy;
          transition: color 0.3s;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}
