h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 1px;
  color: $navy;
}

h1 {
  word-spacing: 3px;
  font-size: 250%;
}

h2 {
  word-spacing: 2px;
  font-size: 200%;
}

h3 {
  word-spacing: 1px;
  font-size: 150%;
}

p {
  word-spacing: 1px;
}
