* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //sets the width and height to include content, padding, and border
}

html {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1100px 1fr;
  grid-template-areas:
    "left-edge navbar right-edge"
    "left-edge content right-edge"
    "left-edge footer right-edge";
  background-color: $cream;
  color: $gray;
  padding: 10px 0 0;
}

/*
FONTS:
Light 300
Regular 400
Bold 700
*/
