//FONTS
$font-stack: "Lato", sans-serif;

//COLORS
$cream: #fefdfe;
$orange: hsla(24, 100%, 50%, 1);
$orange-shadow: hsla(24, 100%, 70%, 0.5);
$navy: hsla(216, 64%, 13%, 1);
$gray: hsla(217, 18%, 28%, 1);
$cloud: #f5f6fa;
