@import "../components/search-bar";
@import "../components/search-filter";
@import "../components/search-result";
@import "../components/search-results";

.search-page {
  grid-area: content;

  .search-main {
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "search-bar search-bar"
      "search-filter-sidebar search-results";
    grid-gap: 30px;
  }
}

.note-to-user {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;

  a {
    color: $orange;
  }
}
